<template lang="html">
  <section>
    <input
      v-model="resultado"
      :change="convertir()"
      type="text"
      name=""
      value=""
      placeholder="Ingresar texto">
    <div class="resultado">
      <p v-if="resultado == ''">Acá saldrá el resultado automáticamente</p>
      <p v-if="resultado != ''">{{mensaje}}</p>
    </div>
  </section>
</template>

<script>
export default {
  props: ['choice'],
  data() {
    return {
      resultado: "",
      mensaje: "",
      emojis: {
        "A":	"🍕",
        "B":	"🐽",
        "C":	"☀",
        "D":	"❤",
        "E":	"🐧",
        "F":	"🍏",
        "G":	"😶",
        "H":	"🍩",
        "I":	"🌵",
        "J":	"🍍",
        "K":	"🍬",
        "L":	"🌙",
        "M":	"🌸",
        "N":	"🤖",
        "Ñ":	"🐸",
        "O":	"⚽",
        "P":	"💄",
        "Q":	"👽",
        "R":	"🚦",
        "S":	"🎱",
        "T":	"🍄",
        "U":	"🍪",
        "V":	"🍟",
        "W":	"🏀",
        "X":	"🍿",
        "Y":	"💎",
        "Z":	"🏐",
        "Á":	"🐰",
        "É":	"💧",
        "Í":	"🍘",
        "Ó":	"⭐",
        "Ú":	"👾",
        ".":	"💀",
        ",":	"😼",
      }
    }
  },
  methods: {
    convertir() {
      let string = "";
      if(this.resultado.length > 0) {
        for (var i = 0; i < this.resultado.length; i++) {
          let res = this.resultado[i].toUpperCase();
          string += this.emojis[res];
          this.mensaje = string;
        }
      } else {
        this.mensaje = ""
      }
    }
  }
}
</script>

<style lang="css">
  input {
    width: 100%;
    border: none;
    text-indent: 15px;
    height: 50px;
    font-size: 15px;
    color: #10144F;
    -webkit-box-shadow: 0px 2px 10px 1px rgba(224,224,224,1);
    -moz-box-shadow: 0px 2px 10px 1px rgba(224,224,224,1);
    box-shadow: 0px 2px 10px 1px rgba(224,224,224,1);
    font-family: 'Muli', sans-serif;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    transition: 0.4s ease;
    text-transform: uppercase;
  }
  input:focus {
    border: 1px solid #10144F;
  }
  .resultado {
    background-color: #f0f0f7;
    border-radius: 5px;
    padding: 20px 0;
  }
</style>
