<template>
  <div id="app">
    <img src="./assets/logo.png" id="logo">
    <h1>Gana tus boletas de Estereo Picnic con Estudio Codesign</h1>
    <p id="descripcion">Como amantes de la música y la tecnología, ¡somos igual que tú! Y por eso creamos el Emoji Picnic Converter 1.0.</p>
    <Converter :choice="chosen" />
  </div>
</template>

<script>

// Imports Components
import Converter from './components/Converter.vue';

export default {
  name: 'App',
  components: {
    Converter
  },
  data() {
    return {
      chosen: 'texto'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 60%;
  margin: auto;
}
#logo {
  width: 400px;
  height: 96px;
  margin-top: 20px;
  text-align: center;
}
nav {
  font-size: 0;
  margin-bottom: 25px;
}
a {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
  padding: 8px 25px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #10144F;
  color: #10144F;
  cursor: pointer;
  transition: 0.4s ease;
}
a:hover {
  background-color: #10144F;
  color: #fff;
}
a.active {
  background-color: #10144F;
  color: #fff;
}
#descripcion {
  margin-bottom: 30px;
}
</style>
